<!DOCTYPE html>
<html lang="en" ng-app='comicsContactsApp'>
<head>
  <meta charset="UTF-8">
  <title>Superhero Phone Book</title>
  <link rel="stylesheet" href="style.css">
</head>

<body ng-controller="comicsContactsController as vm">
  <h2>Search Contacts</h2>
  <input type="text" ng-model="searchsuperheroes.names">
  <hr/>

  <div ng-repeat="superhero in vm.superheroes | filter: searchsuperheroes.names" ng-class="{ 'imageColor' : superhero.affiliation === 'Image Comics', 'marvelColor' : superhero.affiliation === 'Marvel Comics' }">
    <img ng-src='{{superhero.image}}' ng-show="vm.viewImage[$index]"/>

    <p>superhero: {{superhero.name}}</p>
    <button ng-click="vm.viewImage[$index] = !vm.viewImage[$index]">View Photo</button>

    <p>Phone Number: {{superhero.phone}}</p>
    <p>Affliation: {{superhero.affiliation}}</p>
    <hr/>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js">
  </script>
  <script src="app.js"></script>
</body>
</html>
